a {
    color: #000000;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

.wrapper {
    max-width: 1180px;
    padding: 0 15px 0 15px;
    margin: auto;
}

#header {
    padding: 15px 0;
    background: #5c5c5c;
}

#brand span{
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 50px;
    padding-top: 200px;
}

#brand img {
    display: inline-block;
    max-height: 50px;
}

#top-menu {
    float: right;
    line-height: 2.5em;
}

#top-menu a {
    margin-left: 30px;
    color: #e0e0e0;
    text-transform: uppercase;
}

#main {
    min-height: 100vh;
}

#search-form {
    
}

#search-box-container {
    overflow: hidden;
    border-radius: 35px;
    border: 1px solid #ffffff;
    margin: 0 10px 0 10px;
}

#search-box {
    border: none;
    width: 80%;
    padding-left: 25px;
    margin: 10px 0;
    background: #5c5c5c;
    color: #ffffff;
}

#search-box::placeholder {
    color: #ffffff;
}

#search-box:focus {
    border: none;
    outline: none;
}

#search-btn {
    float: right;
    border: none;
    padding: 12px 0;
    cursor: pointer;
}

#search-btn i {
    color: #ffffff;
}

.dropdown {
    display: inline-block;
    margin: 10px 0 0 0;
}


#danger-alert-box {
    border: 2px solid #d9534f;
    padding: 0;
}

.course-item:hover {
    background: #fafafa;
}

.course-category {
    background: #1c2f3a;
    color: #fafafa;
    padding: 1px 6px 4px 5px;
    margin: 0 10px 3px 0;
}











@media screen and (max-width:491px) {
    .wrapper {
        padding: 0 5px 0 5px;
    }

    #brand-container {
        text-align: center;
    }
}